.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.headerContainer {
  background: black;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.shoppingCart {
  color: azure;
  margin: 10px;
}
